abc
anbncn
calc
nested
xml
json
java
exp
abc-nomemo
anbncn-nomemo
calc-nomemo
nested-nomemo
xml-nomemo
json-nomemo
java-nomemo
exp-nomemo
*.hpp
abc.cpp
anbncn.cpp
calc.cpp
nested.cpp
abc-nomemo.cpp
anbncn-nomemo.cpp
calc-nomemo.cpp
nested-nomemo.cpp
*.o
