abc
anbncn
calc
nested
xml
json
java
exp
abc-nomemo
anbncn-nomemo
calc-nomemo
nested-nomemo
xml-nomemo
json-nomemo
java-nomemo
exp-nomemo
xml-unt
json-unt
java-unt
xml-nomemo-unt
json-nomemo-unt
java-nomemo-unt
xml-inst
json-inst
java-inst
xml-nomemo-inst
json-nomemo-inst
java-nomemo-inst
*.hpp
abc.cpp
anbncn.cpp
calc.cpp
nested.cpp
abc-nomemo.cpp
anbncn-nomemo.cpp
calc-nomemo.cpp
nested-nomemo.cpp
*.o
